@page {
	margin: 0.5cm;
}

body {
  font-family: sans-serif;
	margin: 0.5cm 0;
	text-align: justify;
  background: #FFF; 
  font-size: 10px;
}

.sesiontable2{
  width: 100%;
}

table.sesiontable2{
    padding: 0px 15px 15px 15px;
}

table.sesiontable2 th{
    font-size: 10px;
}

table.sesiontable2 tr{
    padding: 5px;
}

table.sesiontable2 td{
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    width: 200;
    background-color: white;
}

table.sesiontable3 td{
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    width: 80;
    background-color: white;
    float: left;
}

table.diags td{
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    width: 740px;
    background-color: white;
    float: left;
}

#resultTable2 {
    border-collapse: separate;
    background-color: #FFFFFF;
    border-spacing: 0;
    max-width: 100%;
}
#resultTable2 {
    color: #666666;
    width: 12.5%;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
    font-size: 10px;
    margin-bottom: 5px;
}
#resultTable2 thead tr th {
    background: none repeat scroll 0 0 #cbcbcb;
    color: #983535;
    text-align: center;
    border-top: 0 none;
    font-size: 10px;
    width: 10%;
}

#resultTable2 tbody tr td{
    text-align: center;
}
#resultTable2 input{
    width: 50px;
    height: 17px;
}

    #resultTable2 td{ 
    }
    #resultTable2 tr{
        background: #fff;
    }
    #resultTable2 tr:hover {
          background-color: #ffff99;
    }

hr {
  page-break-after: always;
  border: 0;
}

#customers {
	margin-top: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 9px;
    position: relative;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


#test {
	color: white;
	font-size: 9px;
	background-color: #0070fd;
	text-align: center;

}

.logo{
	float: left;
}

.firmas{
  margin-top: 15px;
  font-size: 12px;
  width: 100%;
  text-align: center;
 }

.banner{
  background-image: url(../img/bikban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}

.separ{
  width: 100%;
  height: 5px;
}

.headerss{
  width: 100%;
  height: 10px;
  text-align: center;
  background-color: #F1F3F4;
  color: #7e3535;
  font-weight: 700;
}

.sides{
  width: 100%;
  height: 100px;
  border: 1px #F1F3F4 solid;
}

.antes{
  width: 100%;
  height: 110px;
  border: 1px #F1F3F4 solid;
}

.antecede{
  width: 50%;
  height: 200px;
  position: absolute;
}

.sidea{
  width: 50%;
  height: 90px;
  float: left;
  position: absolute;
}

.sideb{
  width: 50%;
  height: 90px;
  margin-left: 390px;
}

.antecede2{
  width: 50%;
  height: 110px;
  margin-left: 50%;
}

.sidec{
  width: 25%;
  height: 200px;
  position: absolute;
}

.sided{
  width: 25%;
  height: 200px;
  margin-left: 50%;
}

.sidee{
  width: 25%;
  height: 200px;
  position: absolute;
}

.sidef{
  width: 25%;
  height: 200px;
  margin-left: 50%;
}

.belt{
  width: 100%;
  height: 25px;
  text-align: center;
  background-color: #F1F3F4;
  color: #7e3535;
}

.beltl{
  width: 50%;
  height: 25px;
  position: absolute;
}

.belta{
  width: 50%;
  height: 25px;
  float: left;
  position: absolute;
}

.beltb{
  width: 50%;
  height: 25px;
  float: left;
  margin-left: 50%;
}


.beltr{
  width: 50%;
  height: 25px;
  margin-left: 50%;
}

.beltc{
  width: 50%;
  height: 25px;
  float: left;
  position: absolute;
}

.beltd{
  width: 50%;
  height: 25px;
  float: left;
  margin-left: 50%;
}

.pet{
  width: 100%;
  height: 140px;
  border: 1px #F1F3F4 solid;
}

.petcs{
  width: 100%;
  height: 300px;
  border: 1px #F1F3F4 solid;
}

.pet2{
  width: 100%;
  height: 60px;
  border: 1px #F1F3F4 solid;
}

.diagnos{
  width: 100%;
  height: 80px;
  border: 1px #F1F3F4 solid;
}

.plan{
  width: 100%;
  height: 80px;
  border: 1px #F1F3F4 solid;
}

.tarea{
    border: 1px #8484846b solid;
    border-radius: 5px;
    font-size: 10px;
    resize: none;
    word-break: break-all;
}

.comenta{
  width: 100%;
  height: 35px;
  border: 1px #F1F3F4 solid;
}

.firma{
width: 100%;
height: 25px;
text-align: center;
}

.infoo{
  margin-top: 70px;
  width: 100%;
  height: 13px;
  text-align: center;
  font-size: 12px;
}

.infoo2{
  margin-top: 10px;
  width: 100%;
  height: 13px;
  text-align: center;
  font-size: 12px;
}

.tfull{
  font-size: 12px;
}